body{
	background-color: #CDF0EA;
}

hr{
border-color: grey;
	width: 10%;
	border-style: dotted none none;
	border-width: 5px;
}

h1 {
	color: #344D67;
}	

h3 {
	color: #344D67;
}


